<?xml version="1.0" encoding="utf-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="./vendor/autoload.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory suffix=".php">app/classes/endpoints</directory>
    </include>
    <report>
      <html outputDirectory="app/report/" lowUpperBound="35" highLowerBound="70"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="My Project - TestSuite">
      <directory>./tests</directory>
    </testsuite>
  </testsuites>
  <logging/>
</phpunit>
