
/*Header CSS styling*/
@media (min-width: 300px) {
    .col-md-4 {
        max-width: 100%;
}
}

.container-fluid.header {
    max-width: 100%;
    padding-right: 5%;
    padding-left: 5%;
    background-color: #bbdefb;
    height: 300px;
}

.col-md-4.texttop{
    text-align: right!important;
    padding-top: 30px;
    font-size: 20px;
}

.col-md-4 a {
    color: white;
    padding-left: 40px;
}
.col.md-4 a {
    padding-left: 0px;
}

a:hover {
    color: gray;
}